<!--  This file is app/views/movies/index.html.erb -->
<h2>All Movies</h2>

<%#  Part 2: Start here... %>

<%= form_tag movies_path, method: :get, id: 'ratings_form' do %>
  Include:
  <% @all_ratings.each do |rating| %>
    <div class="form-check  form-check-inline">
      <%= label_tag "ratings[#{rating}]", rating, class: 'form-check-label' %>
      <%= check_box_tag "ratings[#{rating}]", "1",  @ratings_to_show.include?(rating), class: 'form-check-input', checked:true %>
    </div>
  <% end %>
  <%= hidden_field_tag(:title_sorted, params[:title_sorted]) %>
  <%= hidden_field_tag(:date_sorted, params[:date_sorted]) %>
  <%= submit_tag 'Refresh', id: 'ratings_submit', class: 'btn btn-primary' %>

<table class="table table-striped col-md-12" id="movies">
  <thead>
    <tr>
      <th class="hilite <%= @title_color %>"><%= link_to "Movie Title", movies_path(:title_sorted=>"true", :ratings=>Hash[@ratings_to_show.collect {|rating| [rating, 1]}]), id: "title_header"%></th>
      <th>Rating</th>
      <th class="hilite <%= @date_color %>"><%= link_to "Release Date", movies_path(:date_sorted=>"true", :ratings=>Hash[@ratings_to_show.collect {|rating| [rating, 1]}]), id: "release_date_header"%></th>
      <th>More Info</th>
    </tr>
  </thead>
  <tbody>
    <% @movies.each do |movie| %>
      <tr>
        <td>
          <%= movie.title %>
        </td>
        <td>
          <%= movie.rating %>
        </td>
        <td>
          <%= movie.release_date %>
        </td>
        <td>
          <%= link_to "More about #{movie.title}", movie_path(movie) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>
<%= link_to 'Add new movie', new_movie_path, :class => 'btn btn-primary' %>
